.prettierrc
.eslintrc
.editorconfig
.gitignore
.babelrc
.browserslistrc
enzyme.config.js
jest.config.js
node_modules
coverages
src/__test__/**/*
test/**/*
__test__/**/*
webpack.config.js
typings/libs/**/*
logo.png
cover.png
examples/**/*
app-dev/**/*
README_ID.md
rndev/**/*
logo.png
cover.png
build/**/*.br
react-fakers-1.0.0.tgz
